html {
  background-color: white;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: black;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: opacity 0.75s;
  min-height: 100vh;
  min-width: 315px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  color: #FF6200;
}

h1 {
  color: #1d2129;
  font-weight: bold;
  font-size: 12px;
}

h3 {
  color: #1d2129;
  font-weight: bold;
  font-size: 13px;
}

textarea:focus {
    outline: 0px solid transparent;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

#header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

  #header #header-columns {
    display: flex;
  }

  #header #header-columns div {
    flex: 1;
  }

  #header #header-columns div:first-child {
    margin-bottom: -20px;
  }

    #header #header-columns #patch {
      width: 128px;
      height: 128px;
      margin-right: 20px;
      border-radius: 128px;
      background-size: contain;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    }

    #header #header-columns #profile span {
      display: block;
      position: relative;
    }

      #header #header-columns #profile span:last-child {
        cursor: pointer;
      }

#contact-list {
  padding: 20px;
}

  #contact-list #requests {
    border-bottom: 1px solid #dddfe2;
  }

  #contact-list #friends {}

  #contact-list #friends .title {
    display: flex;
    justify-content: space-between;
  }

    #contact-list #friends .title a {
      margin-top: 14px;
    }

  #contact-list #friends .friend {
    display: flex;
    justify-content: space-between;
  }

    #contact-list .controls {
      display: flex;
    }

      #contact-list .controls .button {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: red;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
      }

        #contact-list .controls .button {
          background-color: transparent;
          border: 1px solid #888;
          color: #555;
        }

          #contact-list .controls .button span {
            width: 16px;
            text-align: center;
            margin: 0;
            display: inline-block;
            transform: translate(-1px, -2px);
          }

          #contact-list .controls .button.delete span {
            width: 16px;
            text-align: center;
            margin: 0;
            display: inline-block;
            transform: translate(-1px, -3px);
          }


#settings {
  padding: 5px 10px;
  background-color: #f5f6f7;
  justify-content: space-between;
  margin-bottom: 20px;
}

  #settings #settings-wrapper {
    margin-top: 20px;
    display: flex;
    border-bottom: solid 1px #dddfe2;
  }

    #settings #contacts {
      margin-right: 40px;
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: bold;
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

      #settings #contacts .icons {
        height: 38px;
        margin-right: 20px;
        display: flex;
      }

      #settings #contacts .icons .portrait {
        display: block;
        border-radius: 38px;
        width: 38px;
        height: 38px;
        background-color: white;
        border: 3px solid #f5f6f7;
      }

        #settings #contacts .icons .portrait:not(:first-child) {
          margin-left: -15px;
        }

    #settings #caution {
      font-size: 13px;
      font-weight: bold;
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

      #settings #caution .icon {
        width: 38px;
        height: 38px;
        margin-right: 20px;
      }

#submit {
  margin: 0 10px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #FFCE02;
  border: 2px solid #FF9E03;
  color: #962103;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  transition: opacity 0.15s;
}
